<section class="birthday container">

    <h2 class="section__subtitle">Перевір в який рік ти народився</h2>
    <div class="birthday__checker">
        <div class="birthday__checker__input">
            <input type="number" placeholder="Введіть рік народження" class="birthday__checker__year">
            <button class="birthday__checker__search"><img src="/img/search.svg" class="logo" alt=""></button>
        </div>
        <span class="birthday__checker__result">Ви народилися у високосний рік!</span>
    </div>
</section>