<section class="birthday container">

    <h2 class="section__subtitle">Перевір в який рік ти народився</h2>
    <div class="birthday__checker">
        <form class="birthday__checker__input">
            <input type="number" placeholder="Введіть рік народження" class="birthday__checker__year" required>
            <button class="birthday__checker__search" type="submit"><img src="/img/search.svg" class="logo"
                    alt=""></button>
        </form>
        <span class="birthday__checker__result">Ви народилися у високосний рік!</span>
    </div>
</section>