<section class="section-calculator container">
    <h2 class="section-calculator__title">Калькулятор</h2>
    <div class="calculator-container">
        <input type="text" class="enter-number__primary enter-number" placeholder="Введіть число">
        <div class="calculator-operators">
            <button class="op-btn">+</button>
            <button class="op-btn">*</button>
            <button class="op-btn">-</button>
            <button class="op-btn">/</button>
        </div>
        <input type="text" class="enter-number__secondary enter-number" placeholder="Введіть число">
        <button class="op-btn__equals">=</button>
        <input type="text" class="input-result enter-number" placeholder="Результат">
    </div>
</section>