<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="section-calculator">
        <h2 class="section-calculator__title">Калькулятор</h2>
        <div class="calculator-container">
            <input type="text" class="enter-number__primary enter-number" placeholder="Введіть число">
               <div class="calculator-operators">
                <button class="op-btn">+</button>
                <button class="op-btn">*</button>
                <button class="op-btn">-</button>
                <button class="op-btn">/</button>
            </div>
            <input type="text" class="enter-number__secondary enter-number" placeholder="Введіть число">
            <button class="op-btn__equals">=</button>
            <input type="text" class="input-result enter-number" placeholder="Результат">
        </div>
        <div class="calculator-line"></div>
    </section>
</body>
</html>