<section class="guess_num section container" id="guess_num">
    <h2 class="section__subtitle">
        Вгадай число, яке загадав комп’ютер
    </h2>


    <div class="guess_num__game">
        <div class="guess_num__input">
            <input type="number" placeholder="Введіть число" class="guess_num__number" required>
            <button class="guess_num__search" type="submit"><img src="/img/search.svg" class="logo" alt=""></button>
        </div>
        <span class="guess_num__result">Вітаю, ви вгадали число! (number)</span>
    </div>
</section>