<header class="header">
    <div class="header__container container">
        <div class="header__left"><img src="../img/logo.svg" alt="logo" class="header__left__logo">
            <ul class="header__left__links">
                <li class="header__left__links__hoverlink">Інтерактив <img src="../img/arrow-down.svg">
                    <ul class="header__left__links__dropdown">
                        <li class="header__left__links__dropdown__link">Числовий</li>
                        <li class="header__left__links__dropdown__link">Ігровий</li>
                        <li class="header__left__links__dropdown__link">Ознайомчий</li>
                    </ul>
                </li>
                <li>Наша команда</li>
                <li>Контакти</li>
            </ul>
        </div>
        <div class="header__right">
            <div class="header__right__changeThemeButton" id="changeThemeButton"></div>
            <span class="header__right__welcome-msg">Вітаємо, <span id="username">User</span>!</span>
        </div>
    </div>
</header>