<section>
    <button class="open-btn" onclick="openModal()">modal</button>

    <div id="modal" class="modal">
        <div class="modal-content">

            <span class="close" onclick="closeModal()">✕</span>

            <p class="title">Привіт!</p>

            <p class="subtitle">
                Ви потрапили на сайт інтерактивних ігор та завдань<br>
                Сподіваємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
                Бажаємо Вам гарно провести час!
            </p>

            <label class="input-label">Введіть своє ім’я:</label>

            <input type="text" placeholder="Ваше ім’я…" class="name-input">

            <button class="save-btn">Зберегти</button>

        </div>
    </div>
</section>