.birthday {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;

    background: var(--bg-color);
    color: var(--color);

    width: 100%;
}

.section__title {
    text-align: center;
    font-weight: var(--font-weight);
}

.section__subtitle {
    font-weight: var(--font-weight);
}

.birthday__checker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.birthday__checker__input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 10px 0 10px 10px;
    gap: 10px;
    position: relative;

    outline: none;
    overflow: hidden;

    background-color: #d7d7d7;
    text-align: center;
    box-shadow: 3px 3px 0px 0px #00000040;
}

.birthday__checker__year {
    width: 275px;
    border: none;
    outline: none;
    background: transparent;
}

.birthday__checker__search {
    padding: 10px 15px 10px 10px;
    border: none;
    background: var(--color);
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
}

.birthday__checker__search img {
    width: 15px;
    height: 15px;
}
