.football-peach {
    width: 720px;
    height: 220px;
    background-color: #5ABB58;
    border: 2px;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.section-title {
    font-size: 16px;
    margin-bottom: 36px;
    text-align: center;
}

.ball {
    width: 50px;
    height: 50px;
    background-image: url('../img/ball.png');
    background-size: cover;
    position: absolute;

}

section::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 30px;
}