.footer{
    display: flex;
    justify-content: space-between;
}
.footer-communication{
   display: grid;
   grid-auto-flow: row; 
   margin-top: 61px;
   font-weight: 400;
   font-size: 12px;

}
#footer-form{
    margin-left: 185px;
    margin-right: 174px;
    margin-top: 97px;
}
.footer-logo_link{
    margin-left: 175px;
    margin-right: 185px;
    margin-top: 75px;
    width: 165px;
    height: 70px;
}
#emailInput{
    width: 204px;
    height: 35px;
    border-radius: 20px;
    padding: 10 80 10 10;
    margin-right: 36px;
    margin-bottom: 18px;
    background-color: #D7D7D7;
    color: #7E7E7E;
    outline: none;
    border: 1px solid #CFCFCF;
    gap: 10px;
    padding-left: 10px;
}
#sendBtn{
    width: 107px;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 12px;
    padding: 10px;
}
.footer-form__text{
    font-weight: 400;
    font-size: 6px;
}

.modal-overlay{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left:0;
    top: 0;
    overflow: auto;
    background-color: #fff;

}
.modal-close{
    width: 15px;
    height: 15px;
    color: black;
    position: absolute;
    top:30px;
    right:30px;
    background: none;
    border: none;
    cursor: pointer;
}
.modal-text{
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    padding-top: 83px;
}
.modal-window {
    width: 463px;
    height: 245px;
    background-color: #fff;
    /* padding: 40px; */
    border-radius: 20px;
    position: relative;
    text-align: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    margin: 15% auto;
    border: 1px solid #888;
}
.icon{
    width: 30px;
    height: 30px;
    position: absolute;
}
.icon-left-top{
    top: 69px;
    left: 43px;
}
.icon-right-top{
    top: 69px;
    right: 42px;
}
.icon-left-bottom{
    bottom: 70px;
    left: 87px;
}
.icon-right-bottom{
    bottom: 70px;
    right: 86px;
}
