#field {
  width: 800px;
  height: 300px;
  margin: 40px auto;
  background: #5dbb63;
  border: 3px solid black;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
}

#ball {
  width: 60px;
  position: absolute;
  left: 80px;
  top: 120px;
  transition: 0.5s;
}