.footer {
    width: 100%;

    padding: 40px 0;

    background: var(--bg-color);
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-communication {
    font-size: 12px;
}
.footer-communication_list {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.footer-communication_list-item {
    &:hover {
        text-decoration: underline;
    }
}

.footer-logo {
    width: 165px;
    height: 70px;
}
#emailInput {
    border-radius: 20px;
    padding: 10px 80px 10px 10px;
    margin-right: 36px;
    margin-bottom: 18px;
    background-color: #d7d7d7;
    color: #7e7e7e;
    outline: none;
    border: 1px solid #cfcfcf;
    gap: 10px;
    padding-left: 10px;
}
#sendBtn {
    width: 107px;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: var(--color);
    color: var(--bg-color);
    font-weight: 400;
    font-size: 12px;
    padding: 10px;
}
.footer-form__text {
    font-weight: 400;
    font-size: 6px;
}

.modal-overlay {
    pointer-events: none;
    opacity: 0;

    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: #00000075;
    backdrop-filter: blur(5px);

    transition: all 0.3s ease-in-out;
}
.active-modal {
    pointer-events: all;
    opacity: 1;
    overflow: hidden;
}
.modal-close {
    width: 15px;
    height: 15px;
    color: black;
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
}
.modal-text {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    padding-top: 83px;
}
.modal-window {
    width: 463px;
    height: 245px;
    background-color: #fff;
    /* padding: 40px; */
    border-radius: 20px;
    position: relative;
    text-align: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    margin: 15% auto;
    border: 1px solid #888;
}
.icon {
    width: 30px;
    height: 30px;
    position: absolute;
}
.icon-left-top {
    top: 69px;
    left: 43px;
}
.icon-right-top {
    top: 69px;
    right: 42px;
}
.icon-left-bottom {
    bottom: 70px;
    left: 87px;
}
.icon-right-bottom {
    bottom: 70px;
    right: 86px;
}
