.guess_num {
    background-color: #ffff;
    font-family: sans-serif;
    /* display: flex;
    justify-content: center; */
}

.heading {
    display: flex;
    justify-content: center;
}

.guess {
    display: flex;
    justify-content: start;
    margin-left: 390px;
}

.small-line {
    width: 1100px; /* length of the line */
    height: 2px; /* thickness */
    background-color: #333; /* color */
    border: none; /* remove default border */
    margin: 10px auto; /* center horizontally and add spacing */
}

.input-number-box {
    width: 190px;
    height: 55px;
    border-radius: 20px;
}
