.guess_num {
    background-color: #ffff;
    font-family: sans-serif;
}

.heading {
    display: flex;
    justify-content: center;
}

.guess {
    display: flex;
    justify-content: start;
    margin-left: 390px;
}

.small-line1 {
    width: 1100px;      
    height: 2px;        
    background-color: #333;  
    border: none;       
    margin: 10px auto;  
}

.small-line2 {
    width: 1100px;      
    height: 2px;        
    background-color: #333;  
    border: none;       
    margin: 10px auto;  
}


.input-number-box {
    border-radius: 20px;
    padding: 10px 80px 10px 10px;
    margin-right: 36px;
    margin-bottom: 18px;
    background-color: #d7d7d7;
    color: #7e7e7e;
    outline: none;
    border: 1px solid #cfcfcf;
    gap: 10px;
    padding-left: 10px;
}
