.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;

    background-color: var(--bg-color);
}

.header__container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 81px;
}

.header__left__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.header__left__links__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__left__links__link::after {
    content: "";
    opacity: 0;
    position: absolute;
    bottom: -10px;
    width: 50%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--color);

    transition: all 0.25s ease-in-out;
}

.header__left__links__link:hover::after {
    opacity: 1;
    bottom: -5px;
}

.header__left__links__hoverlink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    position: relative;

    &:hover .header__left__links__dropdown {
        pointer-events: all;
        opacity: 1;
    }

    &:hover img {
        transform: rotate(180deg);
    }
}

:root[data-theme="dark"] .header__left__links__hoverlink img {
    filter: invert(100%);
}

.header__left__links__dropdown {
    pointer-events: none;
    opacity: 0;

    position: absolute;
    top: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 1px solid var(--color);
    border-top: none;
    border-radius: 0px 0px 20px 20px;

    overflow: hidden;

    z-index: 10;

    transition: all 0.3s ease-in-out;

    &:hover {
        pointer-events: all;
        opacity: 1;
    }

    .header__left__links__dropdown__link {
        padding: 10px 50px;
        width: 100%;
        text-align: center;
        background: var(--bg-color);

        &:hover {
            background: var(--bg-hover-color);
        }
    }
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.header__right__changeThemeButton {
    width: 40px;
    height: 20px;

    background-color: #7a7a7a;
    border-radius: 50px;

    position: relative;

    display: flex;

    .header__right__changeThemeButton__circle {
        width: 20px;
        height: 100%;

        border-radius: 25px;
        border: 1px solid var(--color);

        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        top: 0;
        left: 0%;

        background: #fff;
        background-image: url("../img/sun.svg");
        background-position: 75% 75%;
        background-size: 15px;
        background-repeat: no-repeat;

        transition: left 0.3s ease-in-out;
    }
}
.header__right__changeThemeButton[data-theme="dark"]
    .header__right__changeThemeButton__circle {
    background-image: url("../img/moon.svg");
    background-color: #000;
    left: 50%;
    border-color: var(--color);
}
