.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    font-family: "Montserrat Alternates", sans-serif;
}

.header__container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 81px;
}

.header__left__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.header__left__links__hoverlink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
