.number{
    border-radius: 20px;
        padding: 10px 20px;
        width: 135px;
        height: 35px;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
            background: #d7d7d7;
            border: none;
            font-family: var(--font-family);
                font-weight: 400;
                font-size: 12px;
                color: #7e7e7e;
                
}
