.open-btn {
    padding: 10px 20px;
    margin: 40px;
}

.modal {
    position: fixed;

    display: none;
    justify-content: center;
    align-items: center;

    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(4px);
}

.modal-content {
    position: relative;

    width: 520px;
    padding: 40px 50px 60px;
    border-radius: 30px;

    background: white;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.close {
    position: absolute;
    top: 20px;
    right: 25px;

    font-size: 26px;
    cursor: pointer;
}

.title {
    margin-bottom: 15px;

    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    margin-bottom: 40px;

    font-size: 15px;
    color: #333;
    line-height: 1.46;
}

.input-label {
    display: block;
    margin-bottom: 10px;

    font-size: 17px;
}

.modal {
    z-index: 1000;
}

.name-input {
    width: 75%;
    padding: 15px 20px;
    margin-bottom: 25px;
    border-radius: 30px;
    border: 1px solid #ccc;

    font-size: 16px;
    outline: none;
}

.name-input:focus {
    border-color: #000;
}

.save-btn {
    padding: 12px 35px;
    border: none;
    border-radius: 30px;

    background: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 0 #555;
}

.save-btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #333;
}

.shape {
    position: absolute;

    width: 40px;
    height: 40px;
    border: 2px solid black;
}

.sword {
    top: 30%;
    left: -60px;

    width: 3px;
    height: 40px;
    border: none;

    background: black;
    transform: rotate(45deg);
}

.puzzle {
    bottom: 15%;
    left: -60px;
    border-radius: 5px;
}

.code {
    top: 30%;
    right: -60px;
    border-radius: 6px;
}

.board {
    bottom: 15%;
    right: -60px;
    border-radius: 6px;
}
